<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/formazione</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping package="it.sensei.assunzioni"/>
    <mapping class="it.sensei.assunzioni.Dipendente"/>
    <mapping class="it.sensei.assunzioni.Azienda"/>
    <mapping class="it.sensei.assunzioni.Assunzione"/>
  </session-factory>
</hibernate-configuration>
